# Maven
target/
*.ser
*.ec
.mvn/wrapper/maven-wrapper.jar

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS X
.DS_Store

# Attrica: local recall log written by the why hook
.attrica/
